################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/12C-CSharp/.vs/12C-CSharp/FileContentIndex/765f8813-177a-403a-b8ce-576bd84c7f1f.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/920838e0-93fe-4572-a6a4-043a3a0eafeb.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/993d3ddb-10db-4617-9797-cfc1ed7dba7d.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/1c02533e-cf87-44ad-ae00-6bd5a1af2832.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/eae798d6-88d6-4120-80f2-b41ffb3de181.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/49ffae7f-407f-410c-bff5-df2dd1503c92.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/b1e21368-24d2-47e5-97af-21902a8acd65.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/41afbd56-0014-4f4a-9719-3ff4476d5bd9.vsidx
