################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/12C-CSharp/.vs/12C-CSharp/FileContentIndex/765f8813-177a-403a-b8ce-576bd84c7f1f.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/920838e0-93fe-4572-a6a4-043a3a0eafeb.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/993d3ddb-10db-4617-9797-cfc1ed7dba7d.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/1c02533e-cf87-44ad-ae00-6bd5a1af2832.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/eae798d6-88d6-4120-80f2-b41ffb3de181.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/49ffae7f-407f-410c-bff5-df2dd1503c92.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/b1e21368-24d2-47e5-97af-21902a8acd65.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/41afbd56-0014-4f4a-9719-3ff4476d5bd9.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/fe3c4b5d-8301-4a16-b251-accb46cca528.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/e3854959-6196-4cce-8dc0-b54f9829c794.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/1195c4d9-44a0-4900-b0f5-63271555b337.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/ebf3d3dd-4491-41ee-8c5b-d5ab6f77d310.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/bff33c30-d153-4daa-bc98-1ec04b8a58e3.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/a4108167-815b-413e-b58b-13f6a32710a5.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/609ec449-0759-421e-96f2-bfa50e95f840.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/f2998f45-3d8c-4eb4-a627-d6ac7cb8b65d.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/1e44c529-e5c5-4fea-8b26-b8382bec503c.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/210d8988-2637-4372-93dc-571eb57b1b5e.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/0269d590-9cc5-4c83-adcc-bedda06cac4c.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/d6d2f224-95e8-4b8a-bf42-80dcd872db4a.vsidx
/12C-CSharp/.vs/12C-CSharp/FileContentIndex/d89240b8-e5cd-4aa5-a3fe-d5a7e0c2d4cb.vsidx
